.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Title {
	font-family: Lucida Grande;
	font-size: 36px;
}

.Title1 {
	font-family: Lucida Grande;
	font-size: 36px;
}

.Title2 {
	font-family: Lucida Grande;
	font-size: 36px;
}

.Title3 {
	font-family: Lucida Grande;
	font-size: 36px;
}

.Title4 {
	font-family: Lucida Grande;
	font-size: 36px;
}

